<a href="https://colab.research.google.com/github/misrori/goldkigyo/blob/main/session_2_if_for_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statment

In [ ]:
x = 10
if x > 0:
    print("x is positive")

In [ ]:
x = 10
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")

In [ ]:
x = -5
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

In [ ]:
x = 0
'positiv' if x>0 else 'null' if x==0  else 'negativ'

'null'

In [ ]:
x = 10
result = "x is positive" if x > 0 else "x is zero" if x == 0 else "x is negative"
print(result)

# For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
name = "John"
for char in name:
    print(char)

J
o
h
n

In [ ]:
list(range(5, 100, 8))

[5, 13, 21, 29, 37, 45, 53, 61, 69, 77, 85, 93]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print (f"with index {index} the vaue is :{fruit}")

with index 0 the vaue is :apple
with index 1 the vaue is :banana
with index 2 the vaue is :cherry

In [ ]:
15%6

3

In [ ]:
# Task 1: Print all even numbers from the list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Even numbers:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Even numbers:
2
4
6
8
10

In [ ]:



# Task 2: Print all odd numbers from the list
print("Odd numbers:")
for num in numbers:
    if num % 2 != 0:
        print(num)

Odd numbers:
1
3
5
7
9

In [ ]:
# Task 3: Print numbers greater than 5 from the list
print("Numbers greater than 5:")
for num in numbers:
    if num > 5:
        print(num)

Numbers greater than 5:
6
7
8
9
10

In [ ]:
x = 74
is_prime = True
for i in range(2, x):
    print(i)
    if x%i == 0:
        is_prime = False
        break
is_prime

2

False

In [ ]:
# Task 4 check if a number is prime or not
x = 10
is_prime = True
for i in range(2, x):
    if x%i==0:
        is_prime=False
        break

In [ ]:
i = 0
while i<10:
    print(i)
    i = i+1
    # i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
game_on = True
x = 2
while game_on:
    print(x)
    if x==5:
        game_on=False
    x +=1

2
3
4
5

In [ ]:
while True:
    if x==6:
        break

# Functions

In [ ]:
def hello():
    print('Hello World!')

In [ ]:
hello()

Hello World!

In [ ]:
def hello2(my_name):
    print(f'Hello {my_name}!')

In [ ]:
hello2('Misi')

Hello Misi!

In [ ]:
def hello():
    2+3
    print('Hello World!')

In [ ]:
a = hello()

Hello World!

In [ ]:
def my_func():

    return()

In [ ]:
type(a)

NoneType

In [ ]:
def check_prime(x):
    is_prime = True
    for i in range(2, x):
        if x%i == 0:
            is_prime = False
            break
    return(is_prime)

In [ ]:
check_prime(45)

False

In [ ]:
for act_number in range(2, 101):
    if check_prime(act_number):
        print(f'The number: {act_number} is prime number')
    else:
        print(f'The number: {act_number} is not prime number')

The number: 2 is prime number
The number: 3 is prime number
The number: 4 is not prime number
The number: 5 is prime number
The number: 6 is not prime number
The number: 7 is prime number
The number: 8 is not prime number
The number: 9 is not prime number
The number: 10 is not prime number
The number: 11 is prime number
The number: 12 is not prime number
The number: 13 is prime number
The number: 14 is not prime number
The number: 15 is not prime number
The number: 16 is not prime number
The number: 17 is prime number
The number: 18 is not prime number
The number: 19 is prime number
The number: 20 is not prime number
The number: 21 is not prime number
The number: 22 is not prime number
The number: 23 is prime number
The number: 24 is not prime number
The number: 25 is not prime number
The number: 26 is not prime number
The number: 27 is not prime number
The number: 28 is not prime number
The number: 29 is prime number
The number: 30 is not prime number
The number: 31 is prime number
The number: 32 is not prime number
The number: 33 is not prime number
The number: 34 is not prime number
The number: 35 is not prime number
The number: 36 is not prime number
The number: 37 is prime number
The number: 38 is not prime number
The number: 39 is not prime number
The number: 40 is not prime number
The number: 41 is prime number
The number: 42 is not prime number
The number: 43 is prime number
The number: 44 is not prime number
The number: 45 is not prime number
The number: 46 is not prime number
The number: 47 is prime number
The number: 48 is not prime number
The number: 49 is not prime number
The number: 50 is not prime number
The number: 51 is not prime number
The number: 52 is not prime number
The number: 53 is prime number
The number: 54 is not prime number
The number: 55 is not prime number
The number: 56 is not prime number
The number: 57 is not prime number
The number: 58 is not prime number
The number: 59 is prime number
The number: 60 is not prime number
The number: 61 is prime number
The number: 62 is not prime number
The number: 63 is not prime number
The number: 64 is not prime number
The number: 65 is not prime number
The number: 66 is not prime number
The number: 67 is prime number
The number: 68 is not prime number
The number: 69 is not prime number
The number: 70 is not prime number
The number: 71 is prime number
The number: 72 is not prime number
The number: 73 is prime number
The number: 74 is not prime number
The number: 75 is not prime number
The number: 76 is not prime number
The number: 77 is not prime number
The number: 78 is not prime number
The number: 79 is prime number
The number: 80 is not prime number
The number: 81 is not prime number
The number: 82 is not prime number
The number: 83 is prime number
The number: 84 is not prime number
The number: 85 is not prime number
The number: 86 is not prime number
The number: 87 is not prime number
The number: 88 is not prime number
The number: 89 is prime number
The number: 90 is not prime number
The number: 91 is not prime number
The number: 92 is not prime number
The number: 93 is not prime number
The number: 94 is not prime number
The number: 95 is not prime number
The number: 96 is not prime number
The number: 97 is prime number
The number: 98 is not prime number
The number: 99 is not prime number
The number: 100 is not prime number

In [ ]:
# Task 4: Check if a number is prime or not
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
# Task 5: Print all prime numbers from the list
print("Prime numbers:")
for num in numbers:
    if is_prime(num):
        print(num)