<a href="https://colab.research.google.com/github/misrori/goldkigyo/blob/main/session_2_if_for_def.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# If statment

In [ ]:
x = 10
if x > 0:
    print("x is positive")

In [ ]:
x = 10
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")

In [ ]:
x = -5
if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

In [ ]:
x = 0
'positiv' if x>0 else 'null' if x==0  else 'negativ'

'null'

In [ ]:
x = 10
result = "x is positive" if x > 0 else "x is zero" if x == 0 else "x is negative"
print(result)

# For loop

In [ ]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [ ]:
name = "John"
for char in name:
    print(char)

J
o
h
n

In [ ]:
list(range(5, 100, 8))

[5, 13, 21, 29, 37, 45, 53, 61, 69, 77, 85, 93]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
fruits = ["apple", "banana", "cherry"]

for index, fruit in enumerate(fruits):
    print (f"with index {index} the vaue is :{fruit}")

with index 0 the vaue is :apple
with index 1 the vaue is :banana
with index 2 the vaue is :cherry

In [ ]:
15%6

3

In [ ]:
# Task 1: Print all even numbers from the list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("Even numbers:")
for num in numbers:
    if num % 2 == 0:
        print(num)

Even numbers:
2
4
6
8
10

In [ ]:



# Task 2: Print all odd numbers from the list
print("Odd numbers:")
for num in numbers:
    if num % 2 != 0:
        print(num)

Odd numbers:
1
3
5
7
9

In [ ]:
# Task 3: Print numbers greater than 5 from the list
print("Numbers greater than 5:")
for num in numbers:
    if num > 5:
        print(num)

Numbers greater than 5:
6
7
8
9
10

In [ ]:
x = 74
is_prime = True
for i in range(2, x):
    print(i)
    if x%i == 0:
        is_prime = False
        break
is_prime

2

False

In [ ]:
# Task 4 check if a number is prime or not
x = 10
is_prime = True
for i in range(2, x):
    if x%i==0:
        is_prime=False
        break

In [ ]:
i = 0
while i<10:
    print(i)
    i = i+1
    # i+=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
game_on = True
x = 2
while game_on:
    print(x)
    if x==5:
        game_on=False
    x +=1

2
3
4
5

In [ ]:
while True:
    if x==6:
        break

# Functions

In [ ]:
def hello():
    print('Hello World!')

In [ ]:
hello()

Hello World!

In [ ]:
def hello2(my_name):
    print(f'Hello {my_name}!')

In [ ]:
hello2('Misi')

Hello Misi!

In [ ]:
def hello():
    2+3
    print('Hello World!')

In [ ]:
a = hello()

Hello World!

In [ ]:
def my_func():

    return()

In [ ]:
type(a)

NoneType

In [ ]:
def check_prime(x):
    is_prime = True
    for i in range(2, x):
        if x%i == 0:
            is_prime = False
            break
    return(is_prime)

In [ ]:
check_prime(45)

False

In [ ]:
for act_number in range(2, 101):
    if check_prime(act_number):
        print(f'The number: {act_number} is prime number')
    else:
        print(f'The number: {act_number} is not prime number')

The number: 2 is prime number
The number: 3 is prime number
The number: 4 is not prime number
The number: 5 is prime number
The number: 6 is not prime number
The number: 7 is prime number
The number: 8 is not prime number
The number: 9 is not prime number
The number: 10 is not prime number
The number: 11 is prime number
The number: 12 is not prime number
The number: 13 is prime number
The number: 14 is not prime number
The number: 15 is not prime number
The number: 16 is not prime number
The number: 17 is prime number
The number: 18 is not prime number
The number: 19 is prime number
The number: 20 is not prime number
The number: 21 is not prime number
The number: 22 is not prime number
The number: 23 is prime number
The number: 24 is not prime number
The number: 25 is not prime number
The number: 26 is not prime number
The number: 27 is not prime number
The number: 28 is not prime number
The number: 29 is prime number
The number: 30 is not prime number
The number: 31 is prime number
The number: 32 is not prime number
The number: 33 is not prime number
The number: 34 is not prime number
The number: 35 is not prime number
The number: 36 is not prime number
The number: 37 is prime number
The number: 38 is not prime number
The number: 39 is not prime number
The number: 40 is not prime number
The number: 41 is prime number
The number: 42 is not prime number
The number: 43 is prime number
The number: 44 is not prime number
The number: 45 is not prime number
The number: 46 is not prime number
The number: 47 is prime number
The number: 48 is not prime number
The number: 49 is not prime number
The number: 50 is not prime number
The number: 51 is not prime number
The number: 52 is not prime number
The number: 53 is prime number
The number: 54 is not prime number
The number: 55 is not prime number
The number: 56 is not prime number
The number: 57 is not prime number
The number: 58 is not prime number
The number: 59 is prime number
The number: 60 is not prime number
The number: 61 is prime number
The number: 62 is not prime number
The number: 63 is not prime number
The number: 64 is not prime number
The number: 65 is not prime number
The number: 66 is not prime number
The number: 67 is prime number
The number: 68 is not prime number
The number: 69 is not prime number
The number: 70 is not prime number
The number: 71 is prime number
The number: 72 is not prime number
The number: 73 is prime number
The number: 74 is not prime number
The number: 75 is not prime number
The number: 76 is not prime number
The number: 77 is not prime number
The number: 78 is not prime number
The number: 79 is prime number
The number: 80 is not prime number
The number: 81 is not prime number
The number: 82 is not prime number
The number: 83 is prime number
The number: 84 is not prime number
The number: 85 is not prime number
The number: 86 is not prime number
The number: 87 is not prime number
The number: 88 is not prime number
The number: 89 is prime number
The number: 90 is not prime number
The number: 91 is not prime number
The number: 92 is not prime number
The number: 93 is not prime number
The number: 94 is not prime number
The number: 95 is not prime number
The number: 96 is not prime number
The number: 97 is prime number
The number: 98 is not prime number
The number: 99 is not prime number
The number: 100 is not prime number

In [ ]:
# Task 4: Check if a number is prime or not
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

In [ ]:
# Task 5: Print all prime numbers from the list
print("Prime numbers:")
for num in numbers:
    if is_prime(num):
        print(num)

# AOC 2022 Day1



```
--- Day 1: Calorie Counting ---
Santa's reindeer typically eat regular reindeer food, but they need a lot of magical energy to deliver presents on Christmas. For that, their favorite snack is a special type of star fruit that only grows deep in the jungle. The Elves have brought you on their annual expedition to the grove where the fruit grows.

To supply enough magical energy, the expedition needs to retrieve a minimum of fifty stars by December 25th. Although the Elves assure you that the grove has plenty of fruit, you decide to grab any fruit you see along the way, just in case.

Collect stars by solving puzzles. Two puzzles will be made available on each day in the Advent calendar; the second puzzle is unlocked when you complete the first. Each puzzle grants one star. Good luck!

The jungle must be too overgrown and difficult to navigate in vehicles or access from the air; the Elves' expedition traditionally goes on foot. As your boats approach land, the Elves begin taking inventory of their supplies. One important consideration is food - in particular, the number of Calories each Elf is carrying (your puzzle input).

The Elves take turns writing down the number of Calories contained by the various meals, snacks, rations, etc. that they've brought with them, one item per line. Each Elf separates their own inventory from the previous Elf's inventory (if any) by a blank line.

For example, suppose the Elves finish writing their items' Calories and end up with the following list:

1000
2000
3000

4000

5000
6000

7000
8000
9000

10000
This list represents the Calories of the food carried by five Elves:

The first Elf is carrying food with 1000, 2000, and 3000 Calories, a total of 6000 Calories.
The second Elf is carrying one food item with 4000 Calories.
The third Elf is carrying food with 5000 and 6000 Calories, a total of 11000 Calories.
The fourth Elf is carrying food with 7000, 8000, and 9000 Calories, a total of 24000 Calories.
The fifth Elf is carrying one food item with 10000 Calories.
In case the Elves get hungry and need extra snacks, they need to know which Elf to ask: they'd like to know how many Calories are being carried by the Elf carrying the most Calories. In the example above, this is 24000 (carried by the fourth Elf).

Find the Elf carrying the most Calories. How many total Calories is that Elf carrying?

Your puzzle answer was 70116.

--- Part Two ---
By the time you calculate the answer to the Elves' question, they've already realized that the Elf carrying the most Calories of food might eventually run out of snacks.

To avoid this unacceptable situation, the Elves would instead like to know the total Calories carried by the top three Elves carrying the most Calories. That way, even if one of those Elves runs out of snacks, they still have two backups.

In the example above, the top three Elves are the fourth Elf (with 24000 Calories), then the third Elf (with 11000 Calories), then the fifth Elf (with 10000 Calories). The sum of the Calories carried by these three elves is 45000.

Find the top three Elves carrying the most Calories. How many Calories are those Elves carrying in total?

Your puzzle answer was 206582.
```

In [ ]:
import requests

data = requests.get("https://raw.githubusercontent.com/misrori/aoc/2022/day1.txt").text.split('\n')
data.pop()

''

In [ ]:
data

['15931',
 '8782',
 '16940',
 '14614',
 '',
 '4829',
 '12415',
 '13259',
 '11441',
 '8199',
 '',
 '2540',
 '2500',
 '6341',
 '2235',
 '1858',
 '4157',
 '5053',
 '6611',
 '1050',
 '4401',
 '6187',
 '1078',
 '3297',
 '',
 '25264',
 '23014',
 '15952',
 '',
 '10156',
 '4544',
 '4930',
 '11786',
 '15822',
 '',
 '1264',
 '6399',
 '2031',
 '6892',
 '3115',
 '5151',
 '5093',
 '6724',
 '7001',
 '4011',
 '1458',
 '1945',
 '',
 '2106',
 '2016',
 '1528',
 '2524',
 '6089',
 '4466',
 '3154',
 '2686',
 '3289',
 '5831',
 '1520',
 '2122',
 '5744',
 '',
 '33066',
 '22616',
 '',
 '1993',
 '8485',
 '1037',
 '9730',
 '2076',
 '7492',
 '10000',
 '2971',
 '',
 '11027',
 '9137',
 '4599',
 '7461',
 '1531',
 '12939',
 '',
 '17530',
 '18837',
 '19466',
 '4845',
 '',
 '1467',
 '4870',
 '10176',
 '6657',
 '5608',
 '2096',
 '9977',
 '6478',
 '',
 '18828',
 '26577',
 '',
 '17901',
 '5059',
 '13789',
 '4993',
 '',
 '6676',
 '3415',
 '2464',
 '5937',
 '4275',
 '6629',
 '7566',
 '1943',
 '6313',
 '4572',
 '',
 '9121',
 '10713',
 '5071',
 '1669',
 '7736',
 '10522',
 '6231',
 '',
 '6400',
 '1771',
 '4568',
 '7681',
 '7486',
 '6090',
 '2223',
 '5581',
 '6705',
 '5719',
 '7519',
 '',
 '6595',
 '3849',
 '6564',
 '1622',
 '2268',
 '6424',
 '5295',
 '3627',
 '2088',
 '7357',
 '6565',
 '1878',
 '',
 '20744',
 '25902',
 '15310',
 '',
 '11785',
 '2309',
 '7863',
 '15771',
 '4541',
 '',
 '9217',
 '14774',
 '10316',
 '1035',
 '',
 '5026',
 '5406',
 '2517',
 '5628',
 '4392',
 '5195',
 '5548',
 '4046',
 '2982',
 '4444',
 '4603',
 '4139',
 '5917',
 '4623',
 '5650',
 '',
 '1304',
 '7839',
 '7143',
 '1520',
 '3668',
 '6533',
 '4406',
 '7153',
 '4585',
 '5586',
 '7202',
 '',
 '10209',
 '5965',
 '',
 '5676',
 '8694',
 '8691',
 '5790',
 '5498',
 '2189',
 '5651',
 '7073',
 '5270',
 '3057',
 '',
 '2391',
 '8708',
 '8619',
 '4297',
 '4738',
 '10270',
 '3906',
 '',
 '3023',
 '4720',
 '1548',
 '2991',
 '3111',
 '7063',
 '2012',
 '3763',
 '2035',
 '1784',
 '5001',
 '1680',
 '',
 '7538',
 '7930',
 '9906',
 '8140',
 '13556',
 '4543',
 '',
 '15678',
 '13201',
 '14557',
 '2543',
 '7345',
 '',
 '30741',
 '29356',
 '',
 '8506',
 '2596',
 '1936',
 '5285',
 '11960',
 '10241',
 '',
 '4985',
 '2868',
 '10320',
 '8332',
 '1677',
 '2481',
 '2177',
 '7646',
 '',
 '6131',
 '10046',
 '10184',
 '4015',
 '4132',
 '6841',
 '4179',
 '6723',
 '',
 '11545',
 '8164',
 '17009',
 '6257',
 '',
 '5301',
 '2162',
 '4275',
 '5983',
 '2671',
 '5587',
 '1250',
 '3145',
 '1364',
 '1145',
 '5876',
 '5648',
 '1517',
 '4821',
 '5700',
 '',
 '16437',
 '14836',
 '4812',
 '3411',
 '8245',
 '',
 '7546',
 '4484',
 '3121',
 '6861',
 '6332',
 '1407',
 '4020',
 '5444',
 '7421',
 '3100',
 '3955',
 '',
 '16399',
 '',
 '6052',
 '5898',
 '4698',
 '4965',
 '3117',
 '1798',
 '4646',
 '5183',
 '5615',
 '1508',
 '1065',
 '4239',
 '5268',
 '5753',
 '3913',
 '',
 '8019',
 '4512',
 '19441',
 '',
 '11542',
 '37427',
 '',
 '2233',
 '1709',
 '1969',
 '5307',
 '4878',
 '2657',
 '6902',
 '6803',
 '2376',
 '4771',
 '4720',
 '4788',
 '3331',
 '',
 '58268',
 '',
 '15355',
 '3160',
 '15157',
 '2642',
 '',
 '5958',
 '8776',
 '5573',
 '1966',
 '6919',
 '2661',
 '1810',
 '7727',
 '3528',
 '3520',
 '',
 '3786',
 '5268',
 '7101',
 '7405',
 '4907',
 '2235',
 '4133',
 '4449',
 '4107',
 '7039',
 '',
 '1192',
 '',
 '15060',
 '9010',
 '17932',
 '',
 '3037',
 '6302',
 '1310',
 '3578',
 '3499',
 '4572',
 '2899',
 '6801',
 '7015',
 '8003',
 '1645',
 '',
 '2609',
 '8239',
 '11678',
 '4553',
 '3746',
 '7926',
 '4316',
 '',
 '7989',
 '3443',
 '5709',
 '2736',
 '1066',
 '5070',
 '5401',
 '4781',
 '8140',
 '5206',
 '',
 '6619',
 '4757',
 '5744',
 '5749',
 '4729',
 '4403',
 '1124',
 '3927',
 '1505',
 '6378',
 '7011',
 '7042',
 '',
 '10734',
 '8546',
 '11816',
 '3041',
 '8038',
 '1514',
 '8005',
 '',
 '2358',
 '4435',
 '15419',
 '9841',
 '1425',
 '',
 '1575',
 '10261',
 '4196',
 '',
 '13692',
 '3944',
 '5136',
 '14997',
 '',
 '2395',
 '2053',
 '3511',
 '5846',
 '3289',
 '2223',
 '6256',
 '1725',
 '8118',
 '1615',
 '',
 '5239',
 '14775',
 '4030',
 '',
 '10610',
 '19176',
 '',
 '5746',
 '4448',
 '6311',
 '7034',
 '1101',
 '3327',
 '2740',
 '2102',
 '2826',
 '6415',
 '2725',
 '6958',
 '',
 '11322',
 '3127',
 '9187',
 '10407',
 '12052',
 '9870',
 '10917',
 '',
 '7802',
 '15736',
 '12384',
 '12976',
 '9523',
 '',
 '4431',
 '5918',
 '7903',
 '6003',
 '5690',
 '7135',
 '6625',
 '3042',
 '3791',
 '4604',
 '4472',
 '',
 '5938',
 '1763',
 '1053',
 '1054',
 '6116',
 '1785',
 '6375',
 '3025',
 '3233',
 '7402',
 '3616',
 '4328',
 '',
 '8730',
 '1695',
 '7271',
 '12172',
 '',
 '1549',
 '1093',
 '8703',
 '4985',
 '4782',
 '3867',
 '3377',
 '5399',
 '2160',
 '',
 '3877',
 '9623',
 '16382',
 '7247',
 '',
 '6002',
 '5321',
 '2250',
 '1800',
 '1861',
 '1295',
 '5078',
 '4417',
 '5520',
 '3786',
 '3256',
 '3833',
 '6064',
 '1192',
 '',
 '5113',
 '7824',
 '1006',
 '8708',
 '2630',
 '8752',
 '7077',
 '',
 '4902',
 '3429',
 '2356',
 '5491',
 '2655',
 '3510',
 '1323',
 '3556',
 '2666',
 '5398',
 '3297',
 '5691',
 '5189',
 '6097',
 '3642',
 '',
 '6558',
 '5566',
 '6259',
 '2433',
 '5153',
 '4382',
 '2403',
 '2022',
 '4473',
 '6768',
 '6971',
 '',
 '10026',
 '13871',
 '13729',
 '5818',
 '9155',
 '10414',
 '',
 '10107',
 '1720',
 '9245',
 '2438',
 '5150',
 '2275',
 '7178',
 '5384',
 '',
 '3092',
 '4749',
 '3262',
 '2065',
 '5267',
 '5886',
 '4299',
 '5495',
 '2835',
 '3656',
 '3673',
 '5304',
 '3762',
 '1007',
 '1018',
 '',
 '28554',
 '21993',
 '',
 '2805',
 '1096',
 '2793',
 '8293',
 '3124',
 '1876',
 '7970',
 '2845',
 '',
 '6531',
 '4430',
 '1311',
 '2156',
 '7435',
 '3390',
 '4009',
 '4575',
 '4333',
 '2742',
 '6973',
 '4136',
 '',
 '2392',
 '4116',
 '4306',
 '2518',
 '4393',
 '1104',
 '2972',
 '2281',
 '5399',
 '4100',
 '2883',
 '7281',
 '',
 '2391',
 '6469',
 '3870',
 '7305',
 '4913',
 '7618',
 '6042',
 '7663',
 '5674',
 '5749',
 '6631',
 '',
 '3428',
 '12053',
 '7299',
 '4773',
 '10473',
 '8874',
 '2151',
 '',
 '3248',
 '1165',
 '2435',
 '4215',
 '4789',
 '2067',
 '4858',
 '4051',
 '1963',
 '6408',
 '2912',
 '4624',
 '1268',
 '',
 '4409',
 '',
 '13565',
 '',
 '7738',
 '5672',
 '4046',
 '7972',
 '3639',
 '4021',
 '8963',
 '2633',
 '7339',
 '',
 '9829',
 '15037',
 '13499',
 '4234',
 '',
 '6455',
 '7168',
 '5332',
 '6783',
 '16123',
 '',
 '6047',
 '4912',
 '11390',
 '9771',
 '',
 '9789',
 '5224',
 '1315',
 '3203',
 '8979',
 '5935',
 '9119',
 '8165',
 '',
 '35275',
 '',
 '4518',
 '6479',
 '12034',
 '1535',
 '11757',
 '1587',
 '',
 '4610',
 '1626',
 '2456',
 '1352',
 '5620',
 '5503',
 '6280',
 '3946',
 '4973',
 '4822',
 '5997',
 '3462',
 '4956',
 '4251',
 '',
 '2800',
 '1862',
 '1109',
 '4088',
 '1956',
 '3073',
 '5845',
 '5377',
 '5507',
 '4893',
 '4028',
 '2680',
 '1625',
 '5827',
 '',
 '16667',
 '25591',
 '',
 '6522',
 '8676',
 '8184',
 '5751',
 '9105',
 '3063',
 '1674',
 '10344',
 '',
 '5539',
 '1142',
 '5816',
 '1168',
 '5969',
 '1389',
 '2075',
 '7074',
 '3101',
 '7431',
 '2743',
 '5736',
 '',
 '2030',
 '3296',
 '4251',
 '2939',
 '1612',
 '2397',
 '6043',
 '3978',
 '2302',
 '4059',
 '3466',
 '5130',
 '4417',
 '3434',
 '5507',
 '',
 '6623',
 '1216',
 '6469',
 '3269',
 '5336',
 '3321',
 '2133',
 '4883',
 '3175',
 '5315',
 '3771',
 '4732',
 '4096',
 '',
 '7446',
 '4631',
 '9206',
 '1435',
 '8494',
 '3378',
 '4408',
 '1267',
 '',
 '1031',
 '5587',
 '7270',
 '7454',
 '1386',
 '4005',
 '7112',
 '5510',
 '6167',
 '6258',
 '6177',
 '2584',
 '',
 '9163',
 '6488',
 '8195',
 '7072',
 '2543',
 '7303',
 '3772',
 '3218',
 '6430',
 '',
 '1846',
 '1426',
 '6176',
 '2386',
 '7884',
 '3130',
 '2066',
 '1363',
 '2676',
 '4032',
 '5883',
 '',
 '6238',
 '4357',
 '6244',
 '5001',
 '6205',
 '2031',
 '4763',
 '4717',
 '3449',
 '5988',
 '2594',
 '6508',
 '6129',
 '3292',
 '',
 '5276',
 '4818',
 '3936',
 '3716',
 '6800',
 '9499',
 '6284',
 '9610',
 '',
 '17850',
 '15611',
 '1168',
 '10641',
 '',
 '3648',
 '5602',
 '3507',
 '4240',
 '1019',
 '9291',
 '4877',
 '1210',
 '1926',
 '',
 '3812',
 '9890',
 '7661',
 '13651',
 '1409',
 '10386',
 '',
 '5305',
 '6002',
 '5503',
 '1214',
 '3192',
 '2611',
 '3303',
 '3203',
 '1917',
 '2840',
 '5494',
 '1825',
 '1135',
 '2000',
 '2666',
 '',
 '1790',
 '7427',
 '4094',
 '5114',
 '4197',
 '4891',
 '3757',
 '1257',
 '1111',
 '7603',
 '',
 '6791',
 '21115',
 '',
 '6530',
 '4247',
 '12222',
 '12781',
 '',
 '8490',
 '18751',
 '',
 '3652',
 '3504',
 '3702',
 '4855',
 '1212',
 '6255',
 '1856',
 '5854',
 '7241',
 '3881',
 '7206',
 '1378',
 '',
 '4129',
 '13281',
 '',
 '8377',
 '9763',
 '7679',
 '4214',
 '4630',
 '8473',
 '8473',
 '',
 '8725',
 '6220',
 '2198',
 '',
 '7744',
 '1879',
 '11034',
 '7657',
 '9804',
 '8737',
 '11941',
 '',
 '6000',
 '11448',
 '7628',
 '1637',
 '13733',
 '12875',
 '',
 '4185',
 '14872',
 '3858',
 '3304',
 '3888',
 ...]

# Rock paper scissors

In [ ]:
import random

print("Welcome to Rock, Paper, Scissors!")

choices = ['rock', 'paper', 'scissors']

player_choice = input("Enter your choice (rock, paper, or scissors): ").lower()
if player_choice not in choices:
    print("Invalid choice. Please choose again.")
else:
    computer_choice = random.choice(choices)
    print("Computer chooses:", computer_choice)

    if player_choice == computer_choice:
        print("It's a tie!")
    elif player_choice == 'rock':
        if computer_choice == 'paper':
            print("Computer wins!")
        else:
            print("You win!")
    elif player_choice == 'paper':
        if computer_choice == 'scissors':
            print("Computer wins!")
        else:
            print("You win!")
    elif player_choice == 'scissors':
        if computer_choice == 'rock':
            print("Computer wins!")
        else:
            print("You win!")